.card img{
    width: 100%;
}
.avatar {
    width: 200px;
    height: 200px;

}

.descriptionCard{

    display: flex;

}
.descriptionInfo{
    padding-left: 10px;
    display:flex;
    flex-direction: column;
}
.fullName{

    font-size: 30px;
    font-weight: bold;
}

.aboutMe{

}

.statusJob{
    width: 80px;
    height: 80px;
    border-radius: 20%;
}